- var wsHost = wintersmith.config.hostname || 'localhost';
- var previewUrl = 'http://' + wsHost + ':' + wintersmith.config.port;
ul.pure-menu-list
    li.pure-menu-heading Wintersmith
    li.pure-menu-item
        a.pure-menu-link.pure-button(href=previewUrl, target='_blank')
            i.fa.fa-eye
            | Preview
    li.pure-menu-item
        a.pure-menu-link.pure-button(href='/use/wintersmith/publish')
            i.fa.fa-cogs
            | Publish
