ul.pure-menu-list
    li.pure-menu-heading #{wintersmith.name}
    li.pure-menu-item
        a.pure-menu-link.pure-button.button-view(href=wintersmith.url, target='_blank') Preview
    li.pure-menu-item
        a.pure-menu-link.pure-button.button-okay(href='/use/wintersmith/publish') Publish
