ul.pure-menu-list
    li.pure-menu-heading Wintersmith
    li.pure-menu-item
        a.pure-menu-link.pure-button.button-view(href='/use/wintersmith/preview') Preview
    li.pure-menu-item
        a.pure-menu-link.pure-button.button-okay(href='/use/wintersmith/publish') Publish
