extends ../../../app/views/layout/site

block main
    h1 Preview
    p Starting up preview server for "#{wintersmith.name}". Once ready, you may <a href="#{wintersmith.url}" target="_blank">preview the site here.</a>
